<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Express Yourself</title>
  </head>
  <body>
    <!-- <h1> -->
      <%- header %>
      <%- subheader %>
      <%- liheader %>
      <% list.forEach((item) => { %>
        <%- `${list[0]}` %>
        <% if (!item.includes(`<ul>`)) { %>
        <%- `<li>${item}</li>`  %>
        <%- `${list[list.length - 1]}` %>
      <%} }); %>
      <%- header %>
    <!-- </h1> -->
  </body>
</html>
